{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body class="bg-bukuTamu">
<div class="container">
        <form>
            <div class="form-group">
                Single name : <input class="form-control" required placeholder="enter name" id="example-text-input" type="text">
                Date : <input class="form-control" required placeholder="Enter date" id="example-date-input" type="date">
                Email : <input class="form-control" required placeholder="Enter email" id="example-email-input" type="email">
                Subject : <input class="form-control" required placeholder="Enter subject" id="example-text-input" type="text">
                Message : <textarea input class="form-control" rows="4" cols="6" required placeholder="Enter message" id="message-text-input" type="text"></textarea><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body class="bg-bukuTamu">
{% endblock %}