{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body class="bg-hijau">
<div class="container">
    <h1 class="display-4 color-white text-center">CONTACT ME</h1>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'img/whatsapp.png' %}" class="img-fluid" id="contact" <p>   085-815-855-585</p>
            <img src="{% static 'img/gmail.png' %}" class="img-fluid" id="contact" <p> bintang.agung71@ui.ac.id</p>
            <img src="{% static 'img/linkedin.png' %}" class="img-fluid" id="contact" <p>  bintangagungnusantara</p>
        </div>
        <div class="col-sm-6">
            <img src="{% static 'img/instagram.png' %}" class="img-fluid" id="contact" <p>   bintangagungg</p>
            <img src="{% static 'img/twitter.png' %}" class="img-fluid" id="contact" <p> bintangagungg</p>
            <img src="{% static 'img/line.png' %}" class="img-fluid" id="contact" <p>  bintangagungg</p>
        </div>
    </div>
</div>



</body class="bg-hijau">
{% endblock %}