{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body class="bg-ungu">
<div class="container">
        <div class="row" style="margin:60px 0 20px 0; border-radius: 12px; font-family: Bree Serif; color: black">
            <div class="col-sm-3" style="text-align: center">
                <img src="{% static 'img/sd.png' %}" class="img-fluid" id="resize-small">
                <div class="font-education">
                <p>SDN 2 Jemekan</p>
                <p>2014-2010</p>
                </div>
            </div>
            <div class="col-sm-3" style="text-align: center">
                <img src="{% static 'img/smp.png' %}" class="img-fluid" id="resize-small"> 
                <div class="font-education">
                    <p>SMPN 1 Kediri</p>
                    <p>2010-1013</p>
                </div>
            </div>
            <div class="col-sm-3" style="text-align: center">
                <img src="{% static 'img/sma.png' %}" class="img-fluid" id="resize-small"> 
                <div class="font-education">
                    <p>SMAN 2 Kediri</p>
                    <p>2013-2016</p>
                </div>
            </div>
            <div class="col-sm-3" style="text-align: center">
                <img src="{% static 'img/kuliah.png' %}" class="img-fluid" id="resize-small">
                <div class="font-education">
                    <p>Universitas Indonesia</p>
                    <p>2017-sekarang</p>
                </div>
            </div>
        </div> 
</div>
</body class="bg-ungu">
{% endblock %}