{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body class="bg-orange">
<div class="container">
        <div class="row" style="margin:60px 0 20px 0; border-radius: 12px; font-family: Bree Serif; color: black">
            <div class="col-lg-6" style="text-align: center">ORGANISASI </div>
            <div class="col-lg-6">
                <p>Riset dan Teknologi (RISTEK) Fasilkom UI</p>
                <p>Center of Entrepreneurship Development and Studies (CEDS)</p>
                <p>Ukor Futsal Fasilkom UI</p>
                <p>PERMADI UI</p>
            </div>
        </div>
        <div class="row" style="margin:60px 0 20px 0; border-radius: 12px; font-family: Bree Serif; color: black">
            <div class="col-lg-6" style="text-align: center">KEPANITIAAN </div>
            <div class="col-lg-6">
                <p>Computer Science League (CsL)</p>
                <p>Computer Festival (CompFest)</p>
                <p>UIGT Kediri</p>
            </div>
        </div>
        <div class="row" style="margin:60px 0 20px 0; border-radius: 12px; font-family: Bree Serif; color: black">
            <div class="col-lg-6" style="text-align: center">PROJECT </div>
            <div class="col-lg-6">
                <p>Piano dengan python</p>
                <p>kalkulator dengan python</p>
                <p>java project</p>
            </div>
        </div> 
    </div>
</body class="bg-orange">
{% endblock %}