{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body class ="bg-red">
<div class="container">
        <div class="row" id="home">
            <div class="col-sm-6">
                <img src="{% static 'img/fotoprofil.jpg' %}" alt="" class="img-fluid" id="resize">
            </div>
            <div class="col-sm-6">
                <p class="color-hitam ">
                    <b><br>Nama     : Bintang Agung Nusantara </br>
                    <br>TTL         : Kediri, 15 Mei 1999 </br>
                    <br>Aktivitas   : Kuliah </br> 
                    <br>Alamat      : Asrama Mahasiswa UI </br> 
                    <br>Motto       : Menikmati Setiap Proses </br></b>
                </p>
            </div>
        </div>
    </div>
</body class ="bg-red">
{% endblock %}
