{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<body class="bg-tosca">
<div class="container">
  <div class="row" style="margin:30px 0 10px 0; border-radius: 12px; text-align: center; font-family: Bree Serif; color: black>
    <div class="col-sm-4">
      <h3>Teknologi</h3>
      <img src="{% static 'img/komputer1.png' %}" class="img-fluid" id="resize-kemampuan">
      <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>    </div>
        <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>    </div>
      
      
    </div>
    <div class="col-sm-4">
      <h3>Kepribadian</h3>
      <img src="{% static 'img/skill.png' %}" class="img-fluid" id="resize-kemampuan">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Olahraga</h3>        
      <img src="{% static 'img/kemampuanbola.png' %}" class="img-fluid" id="resize-kemampuan">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>


</body class="bg-tosca">
{% endblock %}