.bg-red{
  background-color: #E74C3C !important;
}

.bg-merah {
    background-color: #F95F5F;
}

.bg-ungu {
    background-color: #976DD0;
}

.bg-orange {
    background-color: #FFBA5C;
}

.bg-tosca {
    background-color: #7AD6C7;
}

.bg-hijau {
    background-color: #13CE66;
}

.bg-bukuTamu {
    background-color: #FFD185;
}

.color-white {
    color: white;
}

.font-grey {
    color: #d1c7c7;
}
.color-hitam {
    color: #000000;
    font-family: "Bree Serif";
}

#home {
    padding-top : 20px;
    text-align: left;
    font-family: "montserrat";
    position : left;
    font-size: 20px;
}

#resize {
    width: 80%;
    height: 80%;
}

#resize-small {
    width: 10%;
    margin
}

#resize-kemampuan{
    width: 200px;
    height: 200px;
}

#msg_form {
    position: relative;
    left: 100px;
    font-family: "montserrat";
}

#name {
    position: relative;
    left: 10px;
}

#tanggal {
    position: relative;
    left: 45px;
}
#email {
    position: relative;
    left: 60px;
}

#subject {
    position: relative;
    left: 45px;
}

#massage {
    position: relative;
    left: 40px;
}