.bg-red{
  background-color: #E74C3C !important;
}

.bg-merah {
    background-color: #F95F5F;
}

.bg-ungu {
    background-color: #976DD0;
}

.bg-orange {
    background-color: #FFBA5C;
}

.bg-tosca {
    background-color: #7AD6C7;
}

.bg-hijau {
    background-color: #13CE66;
}

.bg-bukuTamu {
    background-color: #FFD185;
}

.color-white {
    color: white;
}

.font-grey {
    color: #d1c7c7;
}
.color-hitam {
    color: #000000;
    font-family: "Bree Serif";
}

#home {
    padding-top : 20px;
    text-align: left;
    font-family: "montserrat";
    position : left;
    font-size: 20px;
}

#resize {
    width: 80%;
    height: 80%;
}

#resize-small {
    width: 200px;
    height: 200px;
}

#font-education {
    font-family: "Bree Serif";
    font-size: 25px;
}

#skill {
    margin:60px 0 20px 0; 
    border-radius: 12px; 
    font-family: Bree Serif; 
    color: black;
}

#resize-kemampuan {
    width: 200px;
    height: 200px;
}


#contact {
    width: 100px;
    height: 100px;
}